lab5/xsd_sample.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ORDERDETAILS">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="ORDER">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ORDERID" type="xs:unsignedShort" />
              <xs:element name="PRODUCTID" type="xs:unsignedByte" />
              <xs:element name="ORDERDATE" type="xs:string" />
              <xs:element name="CUSTOMERID" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
